<main class="h-[100vh] flex flex-col justify-center items-center">
  <section class="absolute mt-[-500px]">
    <section class="absolute ml-[100px] mt-[-50px]" *ngIf="clicked">
      <i class="fa-solid fa-message absolute text-[100px]"></i>
      <h1 class="text-white text-2xl font-bold absolute">{{word}}</h1>
    </section>
    <button (click)="GetWord()"><img src="../assets/images/Garfilda-removebg-preview.png" alt="Garfildi" class="h-[13vh]"></button>
  </section>
  <section class="bg-[#ACAC00] min-w-[300px] max-w-[300px] md:min-w-[380px] md:max-w-[380px] rounded bg-opacity-60 p-[10px] flex flex-col items-center">
    <img src="../assets/images/Maristvis-1.png" alt="Maristvis png" class="min-w-[200px] max-w-[200px] pt-[30px]">

    <section class="pt-[30px] flex flex-col items-center">
      <img src="../assets/images/Socials-1.png" alt="socials" class="min-w-[160px] max-w-[160px]">
      <section class="my-[10px] flex items-center">
        <a href="https://www.instagram.com/g.arfiield/"><i class="fa-brands fa-instagram text-[43px] mx-[10px]"></i></a>
        <a href="https://www.tiktok.com/@328888xx"><i class="fa-brands fa-tiktok text-[37px] mx-[10px]"></i></a>
      </section>
    </section>
    <section class="my-[30px]">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7fyG2MquxykO3Ufiku1Dj2?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </section>
  </section>
</main>

